$separation: 5px;
$maxCardsNumber: 5;
$animationDuration: 0.3s;
$minScale: 0.75;
$minOpacity: 0.1;
$scaleStep: (1 - $minScale)/($maxCardsNumber - 1);
$opacityStep: (1 - $minOpacity)/($maxCardsNumber - 1);
$listWidth: 274px;
$listHeight: 286px;
$cardsHeight: 247px;

$buttonHeight: 67px;
$buttonWidth: 24px;

@keyframes card-transition {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}

article.ui-list {
    width: $listWidth;
    height: $listHeight;
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.02);
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-top: $maxCardsNumber * $separation;
    figure.cards {
        height: $cardsHeight;
        margin: 0;
        position: relative;
        box-sizing: border-box;

        .card {
            display: flex;
            height: $cardsHeight;
            width: $listWidth !important;
            position: absolute;
            transition-duration: $animationDuration;
            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.02);
            border-radius: 4px 4px 0 0;
            transform-origin: center top;
            align-items: stretch;
            margin: 0;
            overflow: hidden;

            @for $i from 1 through $maxCardsNumber {
                &:nth-last-of-type(#{$i}) {
                    transform: translateY(-$separation * ($i - 1))
                        scale(1 - ($scaleStep * ($i - 1)));
                    opacity: 1 - ($opacityStep * ($i - 1));
                }
            }

            &.removing {
                animation-name: card-transition;
                animation-duration: $animationDuration;
                animation-fill-mode: both;
                z-index: 1;
            }

            &.adding {
                animation-name: card-transition;
                animation-duration: $animationDuration;
                animation-fill-mode: both;
                animation-direction: reverse;
            }

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .title {
        height: 41px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-indent: 1rem;
        color: #9b9b9b;
        font-family: "Helvetica";
        font-size: 13px;
        background-color: white;
        z-index: 1;
    }

    button.list_button {
        display: none;
    }

    &:hover {
        button.list_button {
            display: flex;
            height: $buttonHeight;
            width: $buttonWidth;
            position: absolute;
            top: $cardsHeight / 2 - $buttonHeight / 2;
            padding: 0;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: #000;
            align-items: center;
            justify-content: center;
            opacity: 0.35;
            z-index: 2;

            &.list_button-right {
                right: 0;
                border-radius: 4px 0 0 4px;
            }

            &.list_button-left {
                left: 0;
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
