$separation: 5px;
$cardsNumber: 5;
$animationDuration: 0.2s;
$minScale: 0.75;
$minOpacity: 0.1;
$scaleStep: (1 - $minScale)/($cardsNumber - 1);
$opacityStep: (1 - $minOpacity)/($cardsNumber - 1);
$listWidth: 274px;
$listHeight: 286px;
$cardsHeight: 247px;

@keyframes card-transition {
    from {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    to {
        transform: translateY($separation) scale(1 + $scaleStep);
        opacity: 0;
    }
}

body {
    font-family: "Helvetica";
    background-color: white;
    padding: 10em;
}

.list {
    width: $listWidth;
    height: $listHeight;
    background: #ffffff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.02);
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    figure.cards {
        height: $cardsHeight;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        .card {
            display: flex;
            height: $cardsHeight;
            width: $listWidth !important;
            position: absolute;
            transition-duration: $animationDuration;
            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.02);
            border-radius: 4px 4px 0 0;
            transform-origin: center top;
            align-items: stretch;
            margin: 0;
            overflow: hidden;

            @for $i from 1 through $cardsNumber {
                &:nth-of-type(#{$i}) {
                    transform: translateY($separation * ($i - $cardsNumber))
                        scale(1 - ($scaleStep * ($cardsNumber - $i)));
                    opacity: 1 - ($opacityStep * ($cardsNumber - $i));
                }
            }

            &.removing {
                animation-name: card-transition;
                animation-duration: $animationDuration;
                animation-fill-mode: both;
                z-index: 1;
            }

            &.adding {
                animation-name: card-transition;
                animation-duration: $animationDuration;
                animation-fill-mode: both;
                animation-direction: reverse;
            }

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .title {
        height: 41px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-indent: 1rem;
        color: #9b9b9b;
        font-family: "Helvetica";
        font-size: 13px;
    }
}

// Card colors
.card-1 {
    background-color: lightblue;
}

.card-2 {
    background-color: coral;
}

.card-3 {
    background-color: brown;
}

.card-4 {
    background-color: palevioletred;
}

.card-5 {
    background-color: yellowgreen;
}
